version: "3.8"

services:
  jekyll:
    build: .
    ports:
      - "4000:4000"
      - "35729:35729"
    command: jekyll serve --host 0.0.0.0 --livereload --force_polling
    volumes:
      - .:/srv/jekyll
      - /srv/jekyll/node_modules
    environment:
      JEKYLL_ENV: development
