---
layout: page
title: Committees
permalink: /committees/
---
<h3>Organising Committee (from the LMU Munich)</h3>
<ul>
  {% for person in site.data.committees.organising %}
  <li>{% if person.web %} <a href = {{ person.web }}>{% endif %}{{ person.name }} {% if person.web %} </a>{% endif %}{% if person.affiliation %}, {{ person.affiliation }}{% endif %}</li>
  {% endfor %}
</ul>

<h3>Programme Committee</h3>
<ul>
  {% for person in site.data.committees.programme %}
  <li>{{ person.name }}{% if person.chair %} <strong>(chair)</strong>{% endif %}, {{ person.affiliation }}</li>
  {% endfor %}
</ul>

<h3>Steering Committee</h3>
<p>
See <a href="https://www.math.aau.at/AofA">the AofA community's website</a> for more information and a list of current members.
</p>