---
layout: page
title: Committees
permalink: /committees/
---
<!--
<h3>Organising Committee</h3>
<ul>
  {% for person in site.data.committees.organising %}
  <li>{{ person.name }}, {{ person.affiliation }}</li>
  {% endfor %}
</ul>

<h3>Programme Committee</h3>
<ul>
  {% for person in site.data.committees.programme %}
  <li>{{ person.name }}{% if person.chair %} <strong>(chair)</strong>{% endif %}, {{ person.affiliation }}</li>
  {% endfor %}
</ul>

<h3>Steering Committee</h3>
<p>
  According to the bylaws of the AofA community, the steering committee is responsible
  for (among other things) ensuring that there is an appropriate location for AofA
  conferences and workshops. See 
  <a href="https://www.math.aau.at/AofA">the AofA community's website</a> for more
  information and a list of current members of the steering committee.
</p>
-->
