<footer class="footer d-flex mt-2">
    <div class="legal-container my-3 ms-3">
      <a href="{{ '/legal' | relative_url }}">Legal information</a>
    </div>
    <div class="ms-auto my-3 me-3">
        <a href="https://www.en.math.lmu.de/index.html">
            <img src="{{ "/assets/lmu-math.png" | relative_url }}" height=50 style="filter: invert(1);">
        </a>
    </div>
    <div class="my-3 me-3">
        <a href="https://www.lmu.de/en/">
            <img src="{{ "/assets/lmu.png" | relative_url }}" height=50 style="filter: invert(1);">
        </a>
    </div>
</footer>
