// $custom-font-size: 20px;

$primary: #212529;
$secondary: #483866;

$aofaemph: #5409cf;

$link-color: $aofaemph;
$link-hover-color: lighten($secondary, 20);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
