---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Futura PT Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Demi'), url('{{"/assets/fonts/FuturaCyrillicDemi.woff" | relative_url }}') format('woff');
}

h1, h2, h3, h4, h5, .navbar-brand, #nav-main {
    font-family: 'Futura PT Demi', serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 110px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bs-primary);
    .legal-container {
      display: inline-flex;
      align-items: center;
      a {
	text-decoration: none;
	color: #ffffff;
      }
    }
    div {
        white-space: nowrap;
    }
}

#nav-main {
    padding: 0;
    background-color: var(--bs-primary);
}

#nav-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    background-color: var(--bs-primary);
    .navbar-brand{
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

#nav-main .nav-item {
    padding: 0 0.5rem;
    &:hover,&.active {
        background-color: var(--bs-secondary);
        a {
            color: #ffffff;
        }
    }
}

.blocked-text {
    text-align: justify;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

main a {
    text-decoration: underline;
}

#news-container {
    ul {
        padding-inline-start: 1em;
    }
    li {
        span {
            margin-left: -1em;
        }
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}

#post-container {
    li {
        list-style: none;
        border-left: 0.5em $secondary solid;
        padding: 0.25em 0.5em 0.25em 1em;
        margin-bottom: 1em;
        background-color: lighten($secondary, 65);
    }
    padding-inline-start: 0;
}

.carousel-item {
    text-align: center;
    background-color: var(--bs-primary);
    img {
        max-width: 100%;
        max-height: 500px;
    }
    .caption {
        padding: 8px;
        color: #ffffff;
    }
}

.committee-member {
    margin: 0.5em;
    max-width: 200px;
    border: 2px $secondary solid;
    background-color: lighten($secondary, 65);
    span {
        font-size: small;
    }
    a {
      color: #000000;
    }
}

.aofa-emph {
    border-left: 8px $secondary solid;
    padding-left: 8px;
    background-color: lighten($secondary, 65);
}

#flajolet-lecturer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .lecturer-portrait {
        display: flex;
        flex-direction: column;
        background-color: $secondary;
        color: #ffffff;
        font-weight: bold;
        font-size: small;
        text-align: center;
        margin: 0.15em;
        img {
            max-height: 250px;
            max-width: 100%;
        }
	a {
	  color: #ffffff;
	  text-decoration: none;
	  &:hover {
	    color: lighten($secondary, 65);
	  }
	}
    }
}
